<div class="popup-dialog delete-dialog">
    <header>
        <h1>Detail Category</h1>
        <a href="javascript:;" class="close-button">
            <i class="fa fa-close">Close</i>
        </a>
    </header>

    <div>
        <p>Are you sure to delete this category<span class="catNama"> </span> ?</p>
        <a class="btn btn-save submit-button">Delete</a>
        <a class="btn close-button close-button">Cancel</a>
    </div>

</div>


<script>
    $(".btn-delete-modal").click(function (event) {
        event.preventDefault();
        let catName = this.dataset.categoryname;
        $(".delete-dialog .catNama").text(catName);
        $(".modal-layer").css("display", "flex");
        $(".delete-dialog").css("display", "block")
    })

    $(".delete-dialog .btn-save").click(function (event){
        event.preventDefault();
        let valueUrl = $(this).attr("href");
        console.log(valueUrl);
    })
    $(".delete-dialog .submit-button").click(function (event) {
        event.preventDefault();
        let urlAction = $(this).attr("href");
        $.ajax({
            url: urlAction,
            success: function (response) {
                if (response.success) {
                    window.location.reload();
                }
                else {
                    $(".delete-dialog").removeAttr("style");
                    $(".message-dialog").css("display", "block");
                    $('.message-dialog .message').text(response.message)
                }
            },
            fail: function () { console.log("Fail") },
            error: function () { console.log("Internal Server Error") }
        });

    });length 
</script>